<form  action="{{ path('dashboard_approuversous', { 'id': souscrptions.id  }) }}" method="post"  >
    <!-- Modal -->
    <div class="modal fade" id="approuver{{ souscrptions.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel"> {{ "APPROBATION DE LA SOUSCRIPTION" | trans }} </h6>
                </div>
                <div class="modal-body">
                    <div class="col-xs-6  col-md-3">
                        <img class="img-circle img-sm" alt="" src="{{ asset(product_images ~'/'~ souscrptions.demand.imageName)|imagine_filter('my_thumb') }}">
                    </div>
                    <span class="stock" style="text-align: left;">Vendeur : {{ souscrptions.user.lastName }} </span>
                    <br/>
                    <span class="stock" style="color: black;text-align: left;"> {{ souscrptions.quantite|number_format(0, ',', '.') }} {{ souscrptions.demand.measure }}s. Prix : {{ souscrptions.demand.prixUnit|number_format(0, ',', '.') }} FCFA / {{ souscrptions.demand.measure }}  </span>
                    <br/>
                    <i class="fa fa-share-alt" > </i> {{ "Approuvez - vous cette souscription ?" | trans }}  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default round-xl btn-xs" data-dismiss="modal"> {{ "Non" | trans }} </button>
                    <button type="submit" class="btn btn-primary round-xl btn-xs"> {{ "Oui" | trans }}</button>
                </div>
            </div>
        </div>
    </div> 
</form>