{% set compte=0%}
{% block  corps %}
    {% for element in ventes %}
        {% set compte=compte+1 %}
        {% set qte=0 %}{% set nbre=0%}
        {% for souscrptions in element.orders %}
        {% if souscrptions.canceled==0 and souscrptions.deleted==0 %}
            {% set nbre=nbre+1 %}
            {% if  souscrptions.accepted==1 %}
                {% set qte=qte+souscrptions.quantite %}
            {% endif %}

        {% endif %}
    {% endfor %}
        <div class="col-xs-6  col-md-3">
            <div class="product tumbnail thumbnail-3">
                <a href="{{ path('vente_show', { 'id': element.id }) }}">
                    <img class="img-circle" alt="" src="{{ asset(product_images ~'/'~ element.imageName)|imagine_filter('my_thumb') }}">
                </a>
                <div class="caption">
                    <h6>
                        <a href="{{ path('vente_show', { 'id': element.id }) }}">{{ element.product.name }}</a>
                    </h6>
                    <i class="fa fa-money" aria-hidden="true"></i> <span class="price sale" style="font-size: 13px;color: #005074;">{{ element.prixUnit|number_format(0, ',', '.') }} FCFA / {{ element.measure }}</span>
                    <br>
                    <span class="stock" style="font-size: 13px;color: black;">{{ (element.quantite-qte)|number_format(0, ',', '.') }} {{ element.measure }}s en stock. </span>
                    <dl>
                        <dt style="font-size: 13px;color: black;">  <i class="fa fa-calendar" aria-hidden="true"> </i> {{ element.createat|date('d M y') }}</dt>
                    </dl><br/>

                    <a title="{{ 'Consulter les commandes' | trans }}" href="{{ path('dashboard_commandesoffre', { 'id': element.id }) }}">  {{ nbre|number_format(0, ',', '.') }}  <i class="fa fa-hand-o-right" > </i> Com..  </a>
                    —                
                    <a class="btn btn-default round-xl btn-xs" data-toggle="modal" data-target="#relancer{{ element.id }}" href="#" title="Relancer la publication"> <i class="fa fa-share-alt"> </i>  </a>
                    
                    {% if  nbre<=0 %} 
                        —
                        <a class="btn btn-default round-xl btn-xs" data-toggle="modal" data-target="#annuler{{ element.id }}" href="#"  title="Annuler l'offre"> <i class="fa fa-trash-o" > </i> 
                        </a>
                        {% include 'dashboard/offre/actions/dashboard_annuleroffre.html.twig'  %}
                    {% endif %}
                      {% include 'dashboard/offre/actions/dashboard_relanceroffre.html.twig'  %}
                                            
                </div>
            </div>
        </div>
    {% endfor %}
    {% if compte==0 %}
        <div class="col-xs-6  col-md-12 text-center" style="min-height: 280px;">
            <div class="product tumbnail thumbnail-3">
                <a class="btn btn-default round-xl btn-xs" href="#" > {{ "AUCUNE OFFRE N'EST  EXPIRE  ..." | trans }}</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock  corps %}