{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'header.html.twig' with {'style': 'background: #004d40;'} %}
{% endblock header %}

{% block container %}
    <section class="add-buttons button-right hidden-phone hidden-tablet">
        <a class="itemadd" href="{{ path('vente_new') }}" id='vente-btn'>
            <span class="add-icon">
                <span class="add-text">Ajoutez une offre</span>
            </span>
        </a>
        <a class="itemadd" href="{{ path('demand_new') }}" id='demand-btn'>
            <span class="add-icon">
                <span class="add-text">Formuler une demande</span>
            </span>
        </a>
    </section>
    {#
        <section>
            <!--Swiper-->
            <div class="swiper-container swiper-slider swiper-container-horizontal swiper-container-fade" data-loop="false" data-slide-effect="fade" data-autoplay="5000">
                <div class="jumbotron text-center">
                    <h1>
                        <span class="text-bold">Votre Marché</span>
                    </h1>
                    <p class="big"></p>
                </div>
                <div class="swiper-wrapper" style="transition-duration: 0ms;">
                    <div class="swiper-slide" data-slide-bg="/assets/images/about_img5.jpg" style="background-image: url('/assets/images/header-1.jpg'); background-size: cover; width: 1842px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    </div>
                </div>
            </div>
        </section>
    #}

    <section>
        <!--Swiper-->
        <div class="swiper-container">
            <div class="jumbotron text-center">
                <h1>
                    <span class="text-bold dyo-blue">Le Marché</span>
                </h1>
                <p class="big"></p>
            </div>
        </div>
    </section>

    <section class="section-border text-center text-md-left">
        <div class="container">
            <!--Tabs-->
            <ul class="nav nav-tabs text-center product" role="tablist" id="myTabs">
                <li class="round-large text-dark-variant-3" role="presentation">
                    <a class="round-large" role="tab" aria-controls="tab0" href="{{ path('vente_index') }}">Offres</a>
                </li>
                <li class="round-large text-dark-variant-3" role="presentation">
                    <a class="round-large" role="tab" aria-controls="tab1" href="{{ path('demand_index') }}">Demandes</a>
                </li>
            </ul>
        </div>
    </section>

    <!--Start section-->
    <section class="text-center offset-1">
        <div class="container">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> {{ flash_message }}
                </div>

            {% endfor %}
            {#
                        <h1>Les offres de produits disponibles</h1>

                        <br>
            #}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-filter"></i>
                        Filtrer
                    </h3>
                </div>
                <form class="" action=""  method="get">

                    <div class="form-group">

                        {{ form_widget(form.product, {'attr' : {'class' : 'form-control'}} )}}
                        {{ form_errors(form.product) }}

                    </div>
                    <div class="form-group">

                        {{ form_widget(form.category, {'attr' : {'class' : 'form-control'}} )}}
                        {{ form_errors(form.category) }}

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="start_date" id="start_date" class="form-control start_date hasDatepicker" placeholder="start date">
                            <span class="fa fa-calendar-o input-group-addon" aria-hidden="true" onclick="$(this).prev().focus();"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="end_date" id="end_date" class="form-control end_date hasDatepicker" placeholder="end date">
                            <span class="fa fa-calendar-o input-group-addon" aria-hidden="true" onclick="$(this).prev().focus();"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="commit" value="Filter" disable_with="Filtering..." class="btn btn-block btn-default">
                    </div>
                </form>
            </div>
            {% block dyofilter %}

            {% endblock %}

            <br>
            {% block content %}

            {% endblock %}

        </div>
    </section>

    <section class="well text-center text-md-left">
        <div class="container">
            <div class="col-inset-2 text-center btn-group" role="group" aria-label="First group">
                <div id="pagination" class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        require(['market/index']);
    </script>
{% endblock %}