{% extends 'dashboard/layout.html.twig' %}

{% block  title %} A propos {% endblock %}
{% block  menuentete %}
    <!--Tabs-->

{% endblock %}
{% block  corps %}
    <div class="row std" style="min-height: 450px;text-align: justify;">

        <div class="col-sm-6  col-md-12 ">
            <h2>PRINCIPES ET OBJECTIFS</h2>

            <div>
                <img src="{{ asset('/assets/images/principes.jpg') }}" style="text-align: justify; width: 428px; float: left; margin-right: 20px; height: 285.701px;">
            </div>
            <div style="text-align: justify; margin-left: 25px;">
                <b style="color: inherit; line-height: 1.7em; background-color: transparent;">Biagri.com</b>
                <span style="color: inherit; line-height: 1.7em; background-color: transparent;">&nbsp;est un site internet regroupant des agriculteurs et acheteurs. Une place de marché agricole sur laquelle vous pouvez déposer des annonces de vente et/ou d'achat de céréales, légumes, fourrages, fruits et bien plus encore.</span></div>
            <div style="text-align: justify; margin-left: 25px;">
                <span style="color: inherit; line-height: 1.7em; background-color: transparent;"><br></span>
            </div><div style="text-align: justify; margin-left: 25px;">
                <b style="line-height: 22.1px;">Nos partenaires</b>
                <span style="line-height: 22.1px;">&nbsp;nous permettent une adaptation du commerce agricole au numérique.&nbsp;</span></div>
            <div style="text-align: justify; margin-left: 25px;">
                <span style="color: inherit; line-height: 1.7em; background-color: transparent;"><br></span>
            </div><div><p style="text-align: justify;">
                    <b style="color: inherit; line-height: 1.7em; background-color: transparent;">Nos objectifs</b>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">&nbsp;sont d'ouvrir les exploitations vers de nouveaux débouchés et d'étendre la zone de collecte des acheteurs. &nbsp;Grâce à Biagri, les agriculteurs peuvent faire du commerce ensemble (Éleveurs&nbsp;et céréaliers).&nbsp;</span></p>
                <p style="text-align: justify;"><br></p>
                <p style="text-align: justify; "><br></p>
                <p style="text-align: justify; ">
                    <b style="color: inherit; line-height: 1.7em; background-color: transparent;">
                        <u>Nos engagements</u> :&nbsp;</b>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">Simplifier l</span>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">a collecte et les démarches administratives</span>
                    <br>
                </p>
                <p>

                </p>
                <p>

                </p>
                <div style="text-align: justify;">
                    <b><u>Réactivité</u> :&nbsp;</b>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">Face à des marchés de plus en plus volatiles</span>
                </div>
                <p></p>
                <p></p>
                <div style="text-align: justify;">
                    <b><u>Reflex Numérique</u> :&nbsp;</b>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">Du commerce agricole en quelques clics</span>
                </div><p></p><p></p>
                <div style="text-align: justify;"><b>
                        <u>Services</u> :&nbsp;</b>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">Logistique et qualité</span>
                </div><p></p><p></p><div style="text-align: justify;">
                    <b><u>Sécurité</u> :&nbsp;</b>
                    <span style="color: inherit; line-height: 1.7em; background-color: transparent;">Vous payez en ligne grâce un système ultra sécurisé</span></div>
                <p></p><p style="text-align: justify;">Les bureaux&nbsp;sont situés aux Campus les Champs du Possible, Village by CA, à Chateaudun (28), au cœur d'un réseau agricole actif : La Beauce.</p>
                <p style="text-align: justify;">AgreenStart'up Chateaudun a récompensé Biagri pour son action innovante dans le monde agricole.</p>
                <p style="text-align: justify;">Pierre-Antoine FOREAU, fondateur de Biagri.com, est&nbsp;petit-fils et fils d'agriculteur. Après des études à l'ESA d'Angers et 4 années passées au sein d'une&nbsp;entreprise&nbsp;de négoce de pommes de terre, l'idée de vendre une production sur internet germe. Le projet est lancé en 2015, avec le soutien d'un groupe de producteurs.<br></p>
                <p style="text-align: justify;">Alors n'attendez plus et déposez une annonce.</p>
            </div>

            <h2>COMMENT ACHETER</h2>
            <div class="std-list-block">
                <div>
                    <font>
                    <font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">
                        Vous êtes collecteur de produits agricoles, négociant, coopérative, courtier, transformateur, conditionneur, autre type d'acheteur ou éleveur ? Facilitez vos achats de&nbsp;</span></font><span style="font-size: 12.8px; line-height: normal;">
                        céréales</span>
                    <font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">,&nbsp;
                        protéagineux, oléagineux, fruits, légumes, fourrages, aliments ... et étendez votre collecte en déposant une annonce d'achat en lien avec vos besoins ou en répondant aux annonces de vente des agriculteurs. C'est simple et rapide.&nbsp;</span></font></font>
                </div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span>
                    </font></div><div><font><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">Biagri.com rassemble un réseau d'agriculteur produisant la marchandises&nbsp;</span></font><span style="font-size: 12.8px; line-height: normal;">répondant</span><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;à vos besoins.</span></font></font></div>
                <div style="line-height: 22.1px;"><br></div>
                <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/569603f69ec0d.png') }}" style="width: 57px; float: left;"><h4><font face="arial, sans-serif">
                        <span style="font-size: 12.8px; line-height: normal;">1.&nbsp;
                            <span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">Publiez votre annonce en quelques minutes</span></span></font></h4></div><div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">
                        Indiquez la catégorie, le produit et la variété de la marchandise recherchée. N'oubliez pas de renseigner vos besoins en quantité, les dates de livraison souhaitées et vos exigences qualitative pour répondre à votre marché. Indiquez votre prix d'achat. Rassurez-vous, vous pourrez modifier votre prix et vos besoins à tout moment dans votre profil.</span></font></div><div style="line-height: 22.1px;"><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/56960405f3d55.png') }}" style="width: 57px; float: left;"><h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">2.&nbsp;<span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">Recevez des propositions</span></span></font></h4></div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">Acceptez ou refusez les propositions des agriculteurs qui vous seront faites en ligne sur Biagri.com, vous êtes automatiquement prévenu(e) par mail à chaque nouvelle proposition. Échangez avec vos agriculteurs pour régler les dernières modalités.</span></font></div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/56960414855cb.png') }}" style="width: 57px; float: left;"><h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;3.&nbsp;<span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">Expédition/Réception</span></span></font></h4></div>
                <div><font><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">&nbsp;Informez vos vendeur de la&nbsp;</span></font><span style="font-size: 12.8px; line-height: normal;">réception</span>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;de chaque camion afin de suivre l'avancé de la commande. A tout moment communiquez des informations pour &nbsp;finaliser la&nbsp;transaction.&nbsp;</span></font></font></div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/5696041cbed5a.png') }}" style="width: 57px; float: left;"><h4><span style="font-size: 12.8px; line-height: normal;"><font face="arial, sans-serif">4.&nbsp;</font><font color="#6abd26" face="os-bold, sans-serif">
                            Paiement</font></span></h4></div><div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">&nbsp;Voilà, vous n'avez plus qu'à payer par virement bancaire</span></font></div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">Vous pouvez aussi répondre aux offres de vente des agriculteurs :</span></font></div><div style="line-height: 22.1px;"><span style="font-size: 12.8px; line-height: normal; background-color: transparent;"><br></span></div>
                <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/56960431b6d27.png') }}" style="width: 57px; float: left;"><h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">1.&nbsp;<span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">Recherchez une offre de vente</span></span></font></h4></div><div style="line-height: 22.1px;"><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">Dans les annonces, sélectionnez Annonces de Vente et trouvez un marché en lien avec vos besoins.&nbsp;</span></font></div><div style="line-height: 22.1px;"><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div style="line-height: 22.1px;"><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/5696043b60d3f.png') }}" style="width: 57px; float: left;"><h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">2.<span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">&nbsp;Faites une offre d'achat</span></span></font></h4></div>
                <div style="line-height: 22.1px;">
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">Remplissez les informations demandées par l'agriculteur pour valider votre proposition en quelques clics et simplement.</span></font></div><div style="line-height: 22.1px;"><br></div><div style="line-height: 22.1px;"><br></div><div style="line-height: 22.1px;"><div style="line-height: 22.1px;">
                        <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/56960414855cb.png') }}" style="width: 57px; float: left;"><h4>
                                <font face="arial, sans-serif">
                                <span style="font-size: 12.8px; line-height: normal;">&nbsp;3.&nbsp;
                                    <span style="color: rgb(106, 189, 38) !important; font-family: os-bold, sans-serif !important;">Expédition/Réception</span></span></font></h4></div><div style="line-height: 22.1px;"><font face="arial, sans-serif">
                            <span style="font-size: 12.8px; line-height: normal;">&nbsp;Informez vos vendeur de la livraison de chaque camion afin de suivre l'avancé de la commande. A tout moment communiquez des informations pour &nbsp;finaliser la transaction.&nbsp;</span></font></div><div style="line-height: 22.1px;"><font face="arial, sans-serif">
                            <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                        <div style="line-height: 22.1px;"><img src="{{ asset('/assets/images/5696041cbed5a.png') }}" style="width: 57px; float: left;"><h4>
                                <span style="font-size: 12.8px; line-height: normal;"><font face="arial, sans-serif">4.&nbsp;</font><font color="#6abd26" face="os-bold, sans-serif">Paiement</font></span></h4></div>
                        <div style="line-height: 22.1px;"><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;Voilà, vous n'avez plus qu'à payer par virement bancaire</span></font></div></div></div><div style="line-height: 22.1px;"><br></div>
                <div style="line-height: 22.1px;">Si vous le souhaitez, contactez nous en envoyant un email à&nbsp;<a href="mailto:pa.foreau@biagri.com">pa.foreau@biagri.com</a>&nbsp;ou par téléphone au 06.14.14.19.99</div>
            </div>
            <br/>

            <h2>COMMENT VENDRE</h2>

            <div class="std std-list-block">
                <div>
                    <font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">
                        Vous êtes agriculteur ou vendeur de produits agricoles ? Ouvrez votre exploitation et vos activités vers de nouveaux débouchés en déposant une annonce de vente de votre récolte ou en répondant aux offres d'achat. C'est simple et rapide.&nbsp;</span></font></div>
                <div>
                    <font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span>
                    </font></div><div><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">
                        Biagri.com rassemble un réseau d'acheteur cherchant à collecter sur internet de nombreux produits.</span></font></div><div><div><br></div></div>
                <div><img src="{{ asset('/assets/images/569603f69ec0d.png') }}" style="width: 57px; float: left;"><h4>
                        <font face="arial, sans-serif">
                        <span style="font-size: 12.8px; line-height: normal;">1. 
                            <b>Publiez votre annonce en quelques minutes</b></span></font></h4></div><div>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                        Indiquez la catégorie, le produit et la variété de votre marchandise. N'oubliez pas de renseigner vos stocks, les dates d’expédition possibles et les caractéristiques qualité de votre marchandise, 
                        une photo est le plus qui rendra votre annonce plus attrayante . Choisissez entre Prix Fixe et Appel d'Offre. Rassurez-vous, vous pourrez modifier votre prix et vos stocks à tout moment dans votre profil.</span></font></div><div>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div>
                    <img src="http://www.biagri.com/images/cms/56960405f3d55.png" style="width: 57px; float: left;"><h4>
                        <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">2. 
                            <b>Recevez des offres</b></span></font></h4></div><div>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                        Acceptez ou refusez les offres des acheteurs qui vous seront faites en ligne sur Biagri.
                        com, vous êtes automatiquement prévenu(e) par mail à chaque nouvelle offre. 
                        Échangez avec vos acheteurs pour régler les dernières modalités.</span></font></div>
                <div><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div><img src="http://www.biagri.com/images/cms/56960414855cb.png" style="width: 57px; float: left;"><h4>
                        <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;3. <b>Expédition/Réception</b></span></font></h4></div>
                <div><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;
                        Informez votre acheteur de l'expédition de chaque camion afin de suivre l'avancé de la commande. 
                        A tout moment communiquez-lui des informations pour &nbsp;finaliser la transaction.&nbsp;</span>
                    </font></div><div><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                <div><img src="http://www.biagri.com/images/cms/5696041cbed5a.png" style="width: 57px; float: left;">
                    <h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">4. 
                            <b>Recevez votre argent</b></span></font></h4></div><div><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;">&nbsp;Voilà, vous allez rapidement récupérer votre argent par virement bancaire</span>
                    </font></div><div><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                        <br></span></font></div><div><u><font face="arial, sans-serif">
                        <span style="font-size: 12.8px; line-height: normal;">
                            Vous pouvez aussi répondre aux offres d'achat des négoc</span></font>
                        <span style="font-size: 12.8px; line-height: normal; background-color: transparent;">
                            iants, coopératives, courtiers, transformateurs, industriels agricoles ...</span>
                    </u></div><div><span style="font-size: 12.8px; line-height: normal; background-color: transparent;"><br></span></div>
                <div><img src="http://www.biagri.com/images/cms/56960431b6d27.png" style="width: 57px; float: left;">
                    <h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">1. 
                            <b>Recherchez une offre d'achat</b></span></font></h4></div><div>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                        Dans les annonces, sélectionnez Annonces d'Achat et trouvez un marché en lien avec vos stocks.&nbsp;</span></font></div><div><font face="arial, sans-serif">
                    <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div><div>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                        <br></span></font></div><div>
                    <img src="http://www.biagri.com/images/cms/5696043b60d3f.png" style="width: 57px; float: left;">
                    <h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">2.
                            <b> Proposez votre production</b></span></font></h4></div><div>
                    <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                        Remplissez les informations demandés par l'acheteur, quantité, délais de livraison, qualité, ... simplement.
                    </span></font></div><div><br></div><div><br></div><div><div style="line-height: 22.1px;">
                        <img src="http://www.biagri.com/images/cms/56960414855cb.png" style="width: 57px; float: left;">
                        <h4><font face="arial, sans-serif">
                            <span style="font-size: 12.8px; line-height: normal;">&nbsp;3.&nbsp;
                                <span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">Expédition/Réception</span></span></font></h4></div><div style="line-height: 22.1px;">
                        <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">&nbsp;
                            Informez votre acheteur de l'expédition de chaque camion afin de suivre l'avancé de la commande. 
                            A tout moment communiquez-lui des informations pour &nbsp;finaliser la transaction.&nbsp;</span></font></div><div style="line-height: 22.1px;"><font face="arial, sans-serif">
                        <span style="font-size: 12.8px; line-height: normal;"><br></span></font></div>
                    <div style="line-height: 22.1px;">
                        <img src="http://www.biagri.com/images/cms/5696041cbed5a.png" style="width: 57px; float: left;">
                        <h4><font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">4.&nbsp;
                                <span style="font-family: os-bold, sans-serif !important; color: rgb(106, 189, 38) !important;">
                                    Recevez votre argent</span></span></font></h4></div><div style="line-height: 22.1px;">
                        <font face="arial, sans-serif"><span style="font-size: 12.8px; line-height: normal;">
                            &nbsp;Voilà, vous allez rapidement récupérer votre argent par virement bancaire</span></font></div></div>
                <div><br></div>
                <div>Si vous le souhaitez, contactez nous en envoyant un email à 
                    <a href="pa.foreau@biagri.com">pa.foreau@biagri.com</a>&nbsp;ou par téléphone au 06.14.14.19.99
                </div>
            </div>
            <br/>

            <div class="std">
                <h2>Confiance et sérénité</h2>
                <p>Nous vérifions au maximum l'identité de nos agriculteurs et acheteurs grâce par exemple à la certification de leur numéro de téléphone mobile, carte d’identité, raison sociale, coordonnées, et nous partons à la rencontre de nos utilisateurs … 
                    ensuite la communauté utilise les profils et les avis pour évaluer les membres et mettre de côté ceux qui ne respectent pas les codes, les habitudes et les exigences du commerce agricole. 
                    Enfin, biagri est disponible tous les jours pour aider nos membres à utiliser au mieux notre service d’achat et vente de produits agricoles en direct et en 1 clic.</p>
                <h2>Avis des membres</h2>
                <p style="text-align: center; ">
                    <img src="https://www.biagri.com/images/cms/56af7a1c12b23.png" style="width: 214px; float: none; height: 58.04858299595142px;"><br></p><p>Biagri souhaite avoir une communauté de personnes avec un même but qui est de vendre ou acheter des productions agricoles afin de valoriser au mieux les produits des exploitations. La confiance est au cœur de toutes les communautés et biagri ne fait pas exception. 
                    La confiance est visible dans la plateforme biagri puisque à chaque fois que deux membres réalisent une transaction, ils s'évaluent sur le site et construisent ainsi leur réputation. Cela signifie qu'avant d’effectuer une transaction, vous pouvez lire les avis des autres membres. 
                    Notre service informatique se réserve le droit de bloquer les membres (vendeurs ou acheteurs) qui montreraient un comportement déloyal et de mauvaise foi en essayant de passer outre le site biagri pour faire les transactions ou encore qui montrerai un comportement malintentionné ou suspect.</p>
                <h2>Modération professionnelle</h2>
                <p style="text-align: center; ">
                    <img src="https://www.biagri.com/images/cms/56af7a79a2d2d.png" style="width: 144.03225806451613px; float: none; height: 133px;"><br></p>
                <p>Biagri vous garantit une communauté de confiance en certifiant les coordonnées de ses membres (email, numéro de téléphone, carte d'identité, raison sociale, ...) 
                    Et en proposant un facebook, twitter et google connect. 
                    Notre équipe est par ailleurs disponible pour exclure tout utilisateur ne respectant pas les valeurs de biagri. 
                    Vous pouvez également participer à l’amélioration de votre communauté en signalant tout contenu ou utilisateur qui vous semble suspect.</p><h2>Confidentialité</h2><p style="text-align: center; "><img src="https://www.biagri.com/images/cms/56af7b8c8ccdb.png" style="width: 131.68051118210863px; height: 128px; float: none;"><br></p><p>Biagri a besoin de vos numéro de téléphone et coordonnées pour communiquer avec vous. Mais cela ne veut pas dire que n'importe qui pourra vous appeler ! Quand un membre vous écrit, nous vous prévenons par email pour vous indiquer qu'un message vous attend. C'est simple et vos coordonnées restent ainsi confidentielles.</p><h2>Le choix</h2><p style="text-align: center; "><img src="https://www.biagri.com/images/cms/56af810ac551f.png" style="width: 275.0658682634731px; height: 87px;"><br></p><p>Sur biagri.com, vous choisissez avec qui vous souhaitez faire du commerce. Que vous soyez agriculteur ou acheteur vous avez la possibilité d'accepter, négocier ou de décliner rapidement et en quelques clics les offres qui vous sont faites. En plus des avis, biagri.com affiche les dernières transactions sur le profil utilisateur de chaque membre. Ici vous maîtrisez vos débouchés et vos collectes agricoles.</p><h2>Laboratoire</h2><p style="text-align: center; "><img src="https://www.biagri.com/images/cms/56af7c81ed5eb.jpeg" style="width: 132px; height: 132px; float: none;"><br></p><p>Biagri est en partenariat avec un laboratoire agrée vous permettant une analyse précise de votre marchandise agricole. Un résultat d'analyse certifié de la production permet de mieux répondre aux besoins des acheteurs et capter des marchés plus rapidement. Un agriculteur peut demander une analyse d'échantillon lors du dépôt de l'annonce, et l'acheteur avant d'émettre une offre. Nous serons le plus réactif pour répondre à vos demandes. La transaction agricole se fait en toute transparence et sérénité sur biagri.com</p><h2>La logistique</h2><p style="text-align: center; "><img src="https://www.biagri.com/images/cms/56af7ce7487ac.png" style="width: 139px; height: 84.63731060606061px; float: none;"><br></p><p><span style="color: rgb(93, 89, 84); background-color: transparent;">Chez Biagri.com vous avez le choix, vous vous chargez du transport, ou il peut nous être délégué pour vous simplifier la collecte. Un partenariat nous permet d'organiser votre transport, n'importe où, et ce quelque soit la marchandise et son conditionnement. Vous connaissez votre coût de transport en direct en renseignant simplement votre code postal. Ce qui nous intéresse c'est le prix rendu dans votre cour ! La transparence fait aussi partie de nos objectifs.</span><br></p>
            </div>

        </div>
    </div>
{% endblock  corps %}

{% block javascriptsMarket %}

{% endblock %}