{% set compte=0 %}
{% for element in supplies %}
    {% if element.canceled==0 and element.deleted==0 %}

        {% if  element.accepted==1 and element.delivered==1 %}
            {% set compte=compte+1 %}
            <div class="col-xs-6  col-md-3">
                <div class="product tumbnail thumbnail-3">
                    <a href="#">
                        <img class="img-circle" alt="" src="{{ asset(product_images ~'/'~ element.demand.imageName)|imagine_filter('my_thumb') }}">
                    </a>
                    <div class="caption">
                        <h6>
                            <a href="#">{{ element.demand.product.name }}</a>
                        </h6>
                        <i class="fa fa-money" aria-hidden="true"></i> <span class="price sale" style="font-size: 13px;color: #005074;">{{ element.demand.prixUnit|number_format(0, ',', '.') }} FCFA / {{ element.demand.measure }}</span>
                        <br>
                        <span class="stock" style="font-size: 13px;color: black;">{{ (element.quantite)|number_format(0, ',', '.') }} {{ element.demand.measure }}s (offre). </span>
                        <dl>
                            <dt style="font-size: 13px;color: black;">  <i class="fa fa-calendar" aria-hidden="true"> </i> {{ element.createat|date('d M y') }}</dt>
                        </dl>
                        <br/>
                        <address>
                            <i class="fa fa-user" aria-hidden="true"></i> <span class="user" style="font-size: 13px;">Acheteur : {{ element.demand.user.lastName~' '~element.demand.user.firstName[0:3] }} ...</span>
                            <dl>
                                <dt style="font-size: 13px;"> <i class="fa fa-phone" aria-hidden="true"></i> {{ phone_number_format(element.demand.user.phone, 'INTERNATIONAL') }}</dt>
                            </dl>
                        </address>
                        <span class="" style="font-size: 13px;color: black;"> Note : {{ (element.rating)|number_format(0, ',', '.') }}/5. </span>
                        <dl>
                            <dt style="font-size: 13px;color: black;">  <i class="fa fa-calendar" aria-hidden="true"> </i> Conclue : {{ element.deliveredAt|date('d M y') }}</dt>
                        </dl>
                        <br/>
                        
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}
{% endfor %}
{% if compte==0 %}
    <div class="col-xs-6  col-md-12 text-center" style="min-height: 280px;">
        <div class="product tumbnail thumbnail-3">
            <a class="btn btn-default round-xl btn-xs" href="#" > AUCUNE SOUSCRIPTION DE DEMANDES N'A ETE CONCLUE ... </a>
        </div>
    </div>
{% endif %}