<form  action="{{ path('dashboard_restaureroffre', { 'id': element.id }) }}" method="post"  >
    <!-- Modal -->
    <div class="modal fade" id="restaurer{{ element.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h6 class="modal-title" id="myModalLabel">RESTAURATION DE L'OFFRE </h6>
                </div>
                <div class="modal-body">
                    <div class="col-xs-6  col-md-3">
                        <img class="img-circle img-sm" alt="" src="{{ asset(product_images ~'/'~ element.imageName)|imagine_filter('my_thumb') }}">
                    </div>
                    <span class="stock" style="color: black;text-align: left;">{{ (element.quantite-qte)|number_format(0, ',', '.') }} {{ element.measure }}s. Prix : {{ element.prixUnit|number_format(0, ',', '.') }} FCFA / {{ element.measure }} </span>
                    <br/>

                    <i class="fa fa-book"> </i>   Confirmez - vous la restauration de l'offre ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default round-xl btn-xs" data-dismiss="modal">Non</button>
                    <button type="submit" class="btn btn-primary round-xl btn-xs">Oui</button>
                </div>
            </div>
        </div>
    </div> 
</form>