{#
This home is for backbonejs views
TODO: search view backbonejs
#}

{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' with {'style': 'background: #004d40;'} %}
{% endblock header %}

{% block container %}
    <section class="add-buttons button-right hidden-phone hidden-tablet">
        <a class="itemadd" href="{{ path('vente_new') }}" id='vente-btn'>
            <span class="add-icon">
                <span class="add-text">Ajoutez une offre</span>
            </span>
        </a>
        <a class="itemadd" href="{{ path('demand_new') }}" id='demand-btn'>
            <span class="add-icon">
                <span class="add-text">Formuler une demande</span>
            </span>
        </a>
    </section>
    <section class="well well-sm section-border">
        <div class="container">
            <div class="col-xs-12 offset-2">
                <!--Tabs-->
                <ul class="nav nav-tabs text-center product" role="tablist" id="myTabs">
                    <li class="round-large text-dark-variant-3 active" role="presentation">
                        <a class="round-large" role="tab" aria-controls="tab0" href="#tab0">Offres</a>
                    </li>
                    <li class="round-large text-dark-variant-3" role="presentation">
                        <a class="round-large" role="tab" aria-controls="tab1" href="#tab1">Demandes</a>
                    </li>
                </ul>
                <!--Tab panes-->
                <div class="tab-content text-sm-left">
                    <div class="tab-pane fade active in" id="tab0" role="tabpanel">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCategory" data-toggle="dropdown">
                                    {{ 'Filtrer par' | trans }}
                                    <span class="caret"></span>
                                </button>
                                <ul id="template_category" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuCategory">

                                    {% for category in categories %}
                                        <li role="presentation">
                                            <a data-name="{{ category.name }}" role="menuitem" tabindex="-1" href="#">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{ 'Trier par' | trans }}
                                    <span class="caret"></span>
                                </button>
                                <ul id="template_sorteby" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a data-id="createAt" role="menuitem" tabindex="-1" href="#">
                                            {{ 'Date' | trans }}
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-id="product" role="menuitem" tabindex="-1" href="#">
                                            {{ 'Produit' | trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div id="tplContainer" class="row"></div>
                    </div>
                    <div class="tab-pane fade" id="tab1" role="tabpanel">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        require(['market/home']);
    </script>
{% endblock %}