{% macro list(pagination, type) %}
    {% if pagination.getTotalItemCount > 0 %}
        {% for entity in pagination %}
            {% if loop.index is divisible by(4) %}
                <div class="row">
                {% endif %}
                <div class="col-xs-6  col-md-3">
                    <div class="product tumbnail thumbnail-3">
                        <a href="{{ path(type~'_show', { 'id': entity.id }) }}">
                            <img class="img-circle img-sm" alt="" src="{{ asset(product_images ~'/'~ entity.imageName)|imagine_filter('my_thumb') }}">
                        </a>
                        <div class="caption">
                            <h6>
                                <a href="{{ path(type~'_show', { 'id': entity.id }) }}">{{ entity.product.name }}</a>
                            </h6>
                            <i class="fa fa-money" aria-hidden="true"></i> <span class="price sale">{{ entity.prixUnit }} FCFA / {{ entity.measure }}</span>
                            <br>
                            <span class="stock">{{ entity.quantite }} {{ entity.measure }}s {{ (type == 'vente') ? 'en stock.' : 'à founir.' }}  </span>
                            <dl>
                                <dt><i class="fa fa-calendar" aria-hidden="true"></i> {{ entity.createat|date('d M y') }}</dt>
                            </dl>
                        </div>
                        <a class="btn btn-primary round-xl btn-sm" href="{{ path(type~'_show', { 'id': entity.id }) }}">voir</a>
                    </div>
                </div>
                {% if loop.index is divisible by(4) %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="col-xs-6  col-md-12 text-center">
            <span class="btn btn-default round-xl btn-xs" href="#" > AUCUNE {{ type }} N'EST ENCORE CREE ... </span>
        </div>
    {% endif %}


{% endmacro %}