{% if pagination.getTotalItemCount > 0 %}
    {% for vente in pagination %}

        <div class="col-xs-6  col-md-3">
            <div class="product tumbnail thumbnail-3">
                <a href="{{ path('vente_show', { 'id': vente.id }) }}">
                    <img class="img-circle img-sm" alt="" src="{{ asset(product_images ~'/'~ vente.imageName)|imagine_filter('my_thumb') }}">
                </a>
                <div class="caption">
                    <h6>
                        <a href="{{ path('vente_show', { 'id': vente.id }) }}">{{ vente.product.name }}</a>
                    </h6>
                    <i class="fa fa-money" aria-hidden="true"></i> <span class="price sale">{{ vente.prixUnit }} FCFA / {{ vente.measure }}</span>
                    <br>
                    <span class="stock">{{ vente.quantite }} {{ vente.measure }}s en stock. </span>
                    <dl>
                        <dt><i class="fa fa-calendar" aria-hidden="true"></i> {{ vente.createat|date('d M y') }}</dt>
                    </dl>
                    <address>
                        <dl>
                            <dt><i class="fa fa-user" aria-hidden="true"></i> {{ vente.user }}</dt>
                        </dl>

                        <dl>
                            <dt> <i class="fa fa-phone" aria-hidden="true"></i> {{ phone_number_format(vente.user.phone, 'INTERNATIONAL') }}</dt>

                        </dl>
                    </address>

                </div>
            </div>
        </div>

    {% endfor %}
{% else %}
    <div class="col-xs-6  col-md-12 text-center" style="min-height: 280px;">
        <div class="product tumbnail thumbnail-3">
            <a class="btn btn-default round-xl btn-xs" href="#" > AUCUNE OFFRE N'EST ENCORE CREE ... </a>
        </div>
    </div>
{% endif %}

