{% trans_default_domain 'FOSUserBundle' %}

{% do form.username.setRendered %}
{% do form.firstname.setRendered %}
{% do form.lastname.setRendered %}
{% do form.email.setRendered %}
{% do form.plainPassword.setRendered %}
{% do form.profil.setRendered %}
{% do form.phone.setRendered %}
{% do form.typeProfile.setRendered %}
{% do form.domaine.setRendered %}

{% if(form.nomEntreprise is defined) %}
    <div class="form-group">
        {{ form_widget(form.nomEntreprise, {'attr' : {'class' : 'form-control', 'placeholder' : 'registration.nomEntreprise'|trans}}) }}
        {{ form_errors(form.nomEntreprise) }}
    </div>
{% endif %}
{% if(form.adresse is defined) %}
    <div class="form-group">
        {{ form_widget(form.adresse, {'attr' : {'class' : 'form-control', 'placeholder' : 'registration.adresse'|trans}}) }}
        {{ form_errors(form.adresse) }}
    </div>
{% endif %}
{% if(form.ifu is defined) %}
    <div class="form-group">
        {{ form_widget(form.ifu, {'attr' : {'class' : 'form-control', 'placeholder' : 'registration.ifu'|trans}}) }}
        {{ form_errors(form.ifu) }}
    </div>
{% endif %}

{{ form_rest(form) }}
