{% extends 'layout.html.twig' %}

{% block container %}

    <header class="bg-image bg-image-2 well-inset-3">
        <section class="well well-sm well-sm--inset-2">
            <div class="container text-center">
                <div class="row ">
                    <div class="col-md-6 col-md-offset-3 btn-shadow inset-sm-min bg-white round-large">
                        <h5 class="text-center">{{ 'Ajouter une demande au brouillon'|trans() }}</h5>
                        {{ form_start(form, {'method': 'POST', 'action': path('dashboard_newdemandebrouillon'), 'attr':{'class': 'row label-insets'}}) }}

                        <div class="form-group col-sm-6 ">

                            {{ form_label(form.product, label|default('Nom du produit'), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            {{ form_widget(form.product, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.product) }}
                        </div>
                        <div id="product_image" class="col-sm-6 ">
                        </div>

                        <div class="form-group col-sm-6 ">
                            {{ form_label(form.measure, label|default(null), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            {{ form_widget(form.measure, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.measure) }}
                        </div>

                        <div class="form-group col-sm-6 ">
                            {{ form_label(form.quantite, label|default(null), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            {{ form_widget(form.quantite, {'attr' : {'class' : 'form-control', min: 0}} )}}
                            {{ form_errors(form.quantite) }}
                        </div>

                        {#
                        <div class="form-group col-sm-6 ">
                            {{ form_label(form.dateLimit, label|default(null), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            {{ form_widget(form.dateLimit, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.dateLimit) }}
                        </div>
                        #}
                        <div class="form-group col-sm-6 ">
                            {{ form_label(form.prixUnit, label|default('Prix unitaire'), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            <div class="input-group">
                                {{ form_widget(form.prixUnit, {'attr' : {'class' : 'form-control', min: 0}} )}}
                                <span class="input-group-addon">FCFA</span>
                            </div>

                            {{ form_errors(form.prixUnit) }}
                        </div>

                        <div class="clearfix visible-sm"></div>
                        <div class="form-group">
                            {{ form_label(form.description, label|default(null), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.description) }}
                        </div>
                        {#   <div class="form-group col-sm-6 ">
                               {{ form_widget(form.province, {'attr' : {'class' : 'form-control'}} )}}
                               {{ form_errors(form.province) }}
                           </div> #}
                        <div class="form-group col-sm-6 ">
                            {{ form_label(form.district, label|default('Votre arrondissement'), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            {{ form_widget(form.district, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.district) }}
                        </div>

                        <div class="form-group col-sm-6 ">
                            {{ form_label(form.lieu, label|default('Quartier/Village'), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            <span class="required">*</span>
                            {{ form_widget(form.lieu, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.lieu) }}
                        </div>
                        <div class="form-group col-sm-12">
                            {{ form_label(form.permanent, label|default("S'agit-il d'une demande permanente ?"), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            {{ form_widget(form.permanent, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.permanent) }}
                        </div>
                        <div class="form-group col-sm-12">
                            {{ form_label(form.district, label|default("Changer l'image du produit si vous en avez"), { 'label_attr': { 'class': 'font-secondary' } }) }}
                            {{ form_widget(form.imageFile, {'attr' : {'class' : 'form-control'}} )}}
                            {{ form_errors(form.imageFile) }}
                        </div>
                        <div class="form-group col-sm-12">
                            {{ form_widget(form.recaptcha) }}
                        </div>

                        <button class="btn btn-primary btn-xs round-xl btn-block form-el-offset-1" type="submit">Ajouter au brouillon</button>

                        {{ form_end(form) }}
                    </div>
                </div>
                <a class="btn btn-default btn-sm round-xl offset-2" href="{{ path('dashboard_mesdemandes') }}">Retour à mon emplacement</a>

            </div>
        </section>
        <!--End section-->
    </header>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        require(['demands/new']);
    </script>
{% endblock %}
