{% extends '/dashboard/demand/dashboard_mesdemandes.html.twig' %}

{% block  corps %}
    {% set compte=0%}
    {% for element in demandes %}
        {% set compte=compte+1 %}
        {% set qte=0 %}
        {% for souscrptions in element.supplies %}
            {% if souscrptions.canceled==0 and souscrptions.deleted==0 and souscrptions.accepted==1 %}
                {% set qte=qte+souscrptions.quantite %}
            {% endif %}
        {% endfor %}
        <div class="col-xs-6  col-md-3">
            <div class="product tumbnail thumbnail-3">
                <a href="{{ path('demand_show', { 'id': element.id }) }}">
                    <img class="img-circle" alt="" src="{{ asset(product_images ~'/'~ element.imageName)|imagine_filter('my_thumb') }}">
                </a>
                <div class="caption">
                    <h6>
                        <a href="{{ path('demand_show', { 'id': element.id }) }}">{{ element.product.name }}</a>
                    </h6>
                    <i class="fa fa-money" aria-hidden="true"></i> <span class="price sale" style="font-size: 13px;color: #005074;">{{ element.prixUnit|number_format(0, ',', '.') }} FCFA / {{ element.measure }}</span>
                    <br>
                    <span class="stock" style="font-size: 13px;color: black;">{{ (element.quantite-qte)|number_format(0, ',', '.') }} {{ element.measure }}s. </span>
                    <dl>
                        <dt style="font-size: 13px;color: black;">  <i class="fa fa-calendar" aria-hidden="true"> </i> {{ element.createat|date('d M y') }}</dt>
                    </dl><br/>

                    <a class="btn btn-default round-xl btn-xs" href="#" title="Restaurer la demande" data-toggle="modal" data-target="#restaurer{{ element.id }}"> <i class="fa fa-book"> </i>  </a>
                     {% include 'dashboard/demand/actions/dashboard_restaurerdemande.html.twig'  %}
                                        
                </div>
                                        
            </div>
        </div>
    {% endfor %}
    {% if compte==0 %}
        <div class="col-xs-6  col-md-12 text-center" style="min-height: 280px;">
            <div class="product tumbnail thumbnail-3">
                <a class="btn btn-default round-xl btn-xs" href="#" > AUCUNE DEMANDE N'EXISTE DANS LA CORBEILLE ... </a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock  corps %}